@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif !important;
}

/* Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background color of the track */
    border-radius: 30px; /* Rounded corners */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Darker color on hover */
    }

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1; /* (Thumb color, Track color) */
}
